/* Top and bottom navbar css. The top nav bar css is just for responsiveness and the bottom nav bar css styles the whole menu */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color:  #038a9e;
	color: white;
	padding: 1% 0;
	font-size: 1.1em;
	border: 0;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-brand {
	float: left;
	min-height: 55px;
	padding: 0px 15px 15px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.navbar-brand:hover {
	opacity: 0.7;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: white;
	background-color: #038a9e;
}
.navbar-inverse .navbar-nav li a {
	color: whitesmoke;
	transition: color 0.15s linear;
}
.navbar-inverse .navbar-nav li {
	transition: color 0.15s linear;
}
.navbar-toggle {
	background-color: #0095d2;
	transition: all 0.3s ease-out;
	border: 0;
}
.navbar-inverse .navbar-header .navbar-toggle:focus {
	transition: all 0.3s ease-out;
	background-color: #0095d2;
}
.navbar-inverse .navbar-header .navbar-toggle:hover {
	transition: all 0.3s ease-out;
	background-color: #00a3d0;
	cursor: pointer;
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
.botom-navbar {
	margin-bottom: 0;
	background-color: #fafafa;
	overflow: hidden;
	bottom: 0;
	width: 100%;
}
/* Style the links inside the navigation bar */
.botom-navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: left;
	padding-right: 14px;
	padding-top: 10px;
	padding-left: 14px;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	transition: color 0.15s linear;
}
/* Change the color of links on hover */
.botom-navbar a:hover {
	background-color: #fafafa;
	color: #9B9B9B;
	cursor: pointer;
}
.botom-navbar a {
	color: #333333;
}
.fa {
	text-decoration: none;
	cursor: pointer;
}
.fa-twitter {
	cursor: pointer;
}
.fa-instagram {
	cursor: pointer;
}
.fa-linkedin {
	cursor: pointer;
}
input[disabled]#subButton,
input[disabled]#subButton:hover,
input[disabled]#subButton:active,
input[disabled]#subButton:focus { 
        background: #CCCCCC;
        box-shadow: none;
        outline: none;
        opacity: 0.5;
        text-decoration: none;
}